.footer {
    max-height: 100%;

    &__content {
        display: flex;
        justify-content: space-between;
        max-height: 100%;
        padding-top: 50px;

        @media screen and (max-width: 1279px) {
            flex-direction: column;
            padding-top: 5px;
            margin: 0 34px;
        }
    }

    &__photo {
        align-self: flex-end;

        @media screen and (max-width: 1279px) {
            align-self: center;
        }
    }

    &__contact-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 160px;
        margin: 0;
        margin-bottom: 60px;

        @media screen and (max-width: 1279px) {
            justify-content:center;
            gap: 60px;
        }
    }

    &__questions-contact, &__visit-location {
        display: flex;
        flex-direction: center;
        column-gap: 20px;
        text-decoration: none;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }

    &__questions, &__visit {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 45px;


        @media screen and (max-width: 1279px) {
            flex-direction: column;
            margin-top: 20px;
            row-gap: 50px;
        }
    }

    &__visit {
        row-gap: 34px;
    }


    &__questions-title, &__visit-title {
        margin: 0;
        padding: 0;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        align-self: flex-start;
        margin-bottom: -10px;
    }

    &__questions-contact-text, &__visit-location-text {
        margin: 0;
    }
}