.our-friends {
    background: #F6F6F6;
    max-height: 877px;

    &__heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) {
        font-size: 25px;
    }
    }

    &__btn-prev {
        margin-right: 53px;
         background: #F6F6F6;

        @media screen and (max-width: 1279px) {
            margin-right: 12px;
            
        }

        &_remove {
            @media screen and (max-width: 767px) {
                display: none;
                
            }
        }
    }

    &__btn-next {
        margin-left: 53px;
       background: #F6F6F6;

        @media screen and (max-width: 1279px) {
            margin-left: 12px;
        }

     &_remove {
        @media screen and (max-width: 767px) {
            display: none;
            
        }
    }
    }

    &__pagination {
        display: none;
        @media screen and (max-width: 767px) {
            display: flex;
            gap: 60px;
        }
    }

    &__btn-link {
        text-decoration: none;

        @media screen and (max-width: 767px) {
            margin-top: 12px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0 100px 0;
        row-gap: 60px;

        @media screen and (max-width: 767px) {
            padding: 35px 0 42px 0;
            row-gap: 20px;
        }
    }

    &__button {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        background: #F1CDB3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 45px;
    }



    &__slider {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            margin: 0 15px;
            margin-top: 22px;
            
        }

        &__card-wrapper {
            display: flex;
            column-gap: 90px;
            justify-content: center;

            &_removed {

            @media screen and (max-width: 1279px) {
                div:nth-child(3n   ) {
                    display: none;
                }
                column-gap: 40px;

                
            }

            @media screen and (max-width: 767px) {
                width: 270px;
                div:nth-child(2n) {
                    display: none;
                }
        }
    }
        
            
        }

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #FAFAFA;
            border-radius: 9px;
            row-gap: 20px;
            padding-bottom: 30px;
            margin: 0;

            &:hover {
                .our-friends__slider__btn {
                    background: #F1CDB3;
                }
                background: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
        }

        &__card-name {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 0;
        }

        &__btn {
            color: #292929;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;      
            letter-spacing: 0.06em;
            padding: 15px 45px;
            margin: 0;

            @media screen and (max-width: 767px) {
                margin-top: 15px;
                
            }
        }

        &__card-picture {
            max-height: 100%;
        }
    }
  
 

}

