.pets {
    background: #F6F6F6;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

                @media screen and (max-width: 1279px) {
                    row-gap: 0;   
        }
    }

    &__title {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;
            margin: 0;
            margin-bottom: 60px;
            padding: 0;
            padding-top: 80px;

            @media screen and (max-width: 1279px) {
                margin-bottom: 30px;   
    }
        
    }

    &__card-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 30px;
        margin-bottom: 60px;

        @media screen and (max-width: 1279px) {
            margin-bottom: 40px;   
}
    }

    &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #FAFAFA;
            border-radius: 9px;
            row-gap: 25px;
            padding-bottom: 30px;
            margin: 0;

            &_removed {
                @media screen and (max-width: 1279px) {
                    display: none;   
        }
            }
    }

    &__pagination {
        display: flex;
        gap: 20px;  
        padding-bottom: 100px;    
        
        @media screen and (max-width: 1279px) {
            padding-bottom: 76px;
            margin-bottom: 10px; 
}
    }
}