

.main, .pets {
    max-width: 1280px;
    max-height: 3796px;
    margin: 0 auto;
    
  }

.wrapper {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;

  @media  screen and (max-width: 1279px) {
    padding: 0 30px;
  }

  @media  screen and (max-width: 767px) {
    padding: 0 10px;
  }
}

.wrapper__background-dark {
  background-image: url(../../assets/images/start-screen-background.png);
  background-size: cover
}

.wrapper__background-light {
  background: #F6F6F6;
}

.btn {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: #FAFAFA;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.btn-round {
     
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  cursor: pointer;

    &_inactive {
      cursor: auto;
      pointer-events: none;
      border: 2px solid #CDCDCD;

    }

    &_highlight {
      background: #F1CDB3;
    }

    &:hover {
      background: #F1CDB3
      ;
    }
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/arial-regular.ttf");
}

@import "_header";
@import "_not-only";
@import "_about";
@import "_our-friends";
@import "_help";
@import "_addition";
@import "_footer";
@import "_pets";
@import "_modal";