.main, .pets {
  max-width: 1280px;
  max-height: 3796px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  padding: 0 40px;
}
@media screen and (max-width: 1279px) {
  .wrapper {
    padding: 0 30px;
  }
}

.wrapper__background-dark {
  background-image: url(../../assets/images/start-screen-background.png);
  background-size: cover;
}

.wrapper__background-light {
  background: #F6F6F6;
}

.btn {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: #FAFAFA;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.btn-round {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.btn-round_inactive {
  cursor: auto;
  pointer-events: none;
}
.btn-round_highlight {
  background: #F1CDB3;
}
.btn-round:hover {
  background: #F1CDB3;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/arial/arial-regular.ttf");
}
.header__content, .our-pets__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
@media only screen and (max-width: 1279px) {
  .header__content, .our-pets__content {
    padding-top: 30px;
  }
}
.header__logo, .our-pets__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.header__logo-title, .our-pets__logo-title {
  font-family: "Georgia";
  color: #F1CDB3;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
  margin-left: 2px;
}
.header__logo-subtitle, .our-pets__logo-subtitle {
  font-family: Arial;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
  margin-left: 4px;
}
.header__nav, .our-pets__nav {
  display: flex;
  gap: 35px;
  list-style-type: none;
  color: #CDCDCD;
}
.header__nav-link, .our-pets__nav-link {
  color: inherit;
  font-family: Arial;
  font-size: 15px;
  line-height: 1.5rem;
  text-decoration: none;
}
.header__nav-link_active, .our-pets__nav-link_active {
  color: #fafafa;
  border-bottom: 3px solid #F1CDB3;
}

.our-pets {
  background: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 0;
  overflow-y: auto;
}
.our-pets__link {
  text-decoration: none;
}
.our-pets__content {
  padding: 30px 0;
}
.our-pets__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.our-pets__logo-title {
  color: #545454;
}
.our-pets__logo-subtitle {
  color: #292929;
}
.our-pets__nav {
  color: #545454;
}
.our-pets__nav-link_active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.not-only {
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
@media screen and (max-width: 1279px) {
  .not-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.not-only__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
  margin-top: 163px;
  row-gap: 42px;
}
@media screen and (max-width: 1279px) {
  .not-only__content {
    margin-top: 0px;
    align-items: center;
  }
}
.not-only__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 1279px) {
  .not-only__heading {
    margin-top: 0px;
    align-self: flex-start;
  }
}
.not-only__subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #CDCDCD;
  margin: 0;
}
.not-only__puppy {
  max-height: 728px;
  max-width: auto;
}
@media screen and (max-width: 1279px) {
  .not-only__puppy {
    margin-top: 100px;
    margin-left: 130px;
  }
}
.not-only__puppy-img {
  max-height: 728px;
}
@media screen and (max-width: 1279px) {
  .not-only__puppy-img {
    max-height: 593px;
  }
}
.not-only__link {
  text-decoration: none;
}
.not-only__btn {
  background: #F1CDB3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 42px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.about {
  display: flex;
  margin: 80px 175px 100px 175px;
}
@media screen and (max-width: 1279px) {
  .about {
    margin: 80px 135px 100px 135px;
  }
}
@media screen and (max-width: 1279px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__pets {
    order: 2;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  max-width: 425px;
  gap: 24px;
  margin-top: 14px;
}
@media screen and (max-width: 1279px) {
  .about__content {
    max-width: 430px;
    margin: 0;
  }
}
.about__pets {
  height: auto;
  margin-right: 121px;
}
@media screen and (max-width: 1279px) {
  .about__pets {
    margin-top: 80px;
    margin-right: 0;
    align-self: center;
  }
}
.about__heading {
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  margin: 0;
}
.about__subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin: 0;
}

.our-friends {
  background: #F6F6F6;
  max-height: 877px;
}
.our-friends__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  padding: 0;
}
.our-friends__btn-prev {
  margin-right: 53px;
}
@media screen and (max-width: 1279px) {
  .our-friends__btn-prev {
    margin-right: 12px;
  }
}
.our-friends__btn-next {
  margin-left: 53px;
}
@media screen and (max-width: 1279px) {
  .our-friends__btn-next {
    margin-left: 12px;
  }
}
.our-friends__btn-link {
  text-decoration: none;
}
.our-friends__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 100px 0;
  row-gap: 60px;
}
.our-friends__button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background: #F1CDB3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
}
.our-friends__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.our-friends__slider__card-wrapper {
  display: flex;
  -moz-column-gap: 90px;
       column-gap: 90px;
  justify-content: center;
}
@media screen and (max-width: 1279px) {
  .our-friends__slider__card-wrapper_removed {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .our-friends__slider__card-wrapper_removed div:nth-child(3n) {
    display: none;
  }
}
.our-friends__slider__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  row-gap: 20px;
  padding-bottom: 30px;
  margin: 0;
}
.our-friends__slider__card:hover {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.our-friends__slider__card:hover .our-friends__slider__btn {
  background: #F1CDB3;
}
.our-friends__slider__card-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}
.our-friends__slider__btn {
  color: #292929;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  margin: 0;
}
.our-friends__slider__card-picture {
  max-height: 100%;
}

.help__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 100px 0;
  row-gap: 60px;
}
.help__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  padding: 0;
}
.help__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  -moz-column-gap: 112px;
       column-gap: 112px;
  row-gap: 50px;
  flex-wrap: wrap;
  max-width: 1026px;
  margin: 0 100px;
  padding: 0;
}
@media screen and (max-width: 1279px) {
  .help__list {
    width: 630px;
    justify-content: flex-start;
    margin: 0 40px;
    -moz-column-gap: 60px;
         column-gap: 60px;
    max-width: 630px;
    row-gap: 55px;
  }
}
.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1279px) {
  .help__item {
    width: 170px;
  }
}
.help__name {
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition {
  background: #F6F6F6;
}
.addition__content {
  display: flex;
  align-items: flex-start;
  padding: 0 142px 100px 143px;
  gap: 30px;
}
@media screen and (max-width: 1279px) {
  .addition__content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 164px 100px 164px;
    gap: 0;
  }
}
.addition__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 80px;
}
@media screen and (max-width: 1279px) {
  .addition__info {
    align-self: center;
  }
}
.addition__title {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.addition__subtitle {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}
.addition__description {
  margin: 0;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B2B2B2;
}
.addition__donate {
  text-decoration: none;
  background: #F1CDB3;
  align-items: center;
  padding: 10px 15px;
  border-radius: 9px;
  display: flex;
  gap: 15px;
}
.addition__number-card {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}
.addition__photo {
  padding-top: 91px;
}
@media screen and (max-width: 1279px) {
  .addition__photo {
    padding-top: 60px;
  }
}

.footer {
  max-height: 100%;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  padding-top: 50px;
}
@media screen and (max-width: 1279px) {
  .footer__content {
    flex-direction: column;
    padding-top: 5px;
    margin: 0 34px;
  }
}
.footer__photo {
  align-self: flex-end;
}
@media screen and (max-width: 1279px) {
  .footer__photo {
    align-self: center;
  }
}
.footer__contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
  margin: 0;
  margin-bottom: 60px;
}
@media screen and (max-width: 1279px) {
  .footer__contact-wrapper {
    justify-content: center;
    gap: 60px;
  }
}
.footer__questions-contact, .footer__visit-location {
  display: flex;
  flex-direction: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer__questions, .footer__visit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 45px;
}
@media screen and (max-width: 1279px) {
  .footer__questions, .footer__visit {
    flex-direction: column;
    margin-top: 20px;
    row-gap: 50px;
  }
}
.footer__visit {
  row-gap: 34px;
}
.footer__questions-title, .footer__visit-title {
  margin: 0;
  padding: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  align-self: flex-start;
  margin-bottom: -10px;
}
.footer__questions-contact-text, .footer__visit-location-text {
  margin: 0;
}

.pets {
  background: #F6F6F6;
}
.pets__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .pets__content {
    row-gap: 0;
  }
}
.pets__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 80px;
}
@media screen and (max-width: 1279px) {
  .pets__title {
    margin-bottom: 30px;
  }
}
.pets__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1279px) {
  .pets__card-wrapper {
    margin-bottom: 40px;
  }
}
.pets__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  border-radius: 9px;
  row-gap: 25px;
  padding-bottom: 30px;
  margin: 0;
}
@media screen and (max-width: 1279px) {
  .pets__card_removed {
    display: none;
  }
}
.pets__pagination {
  display: flex;
  gap: 20px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1279px) {
  .pets__pagination {
    padding-bottom: 76px;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */